acinclude.m4
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configu*
install*
libtool
.libs
/Makefile*
ltmain.sh
missing
mkinstalldirs
php_errors.log
run-tests.php
*.la
*.lo
*.so
cmake-build-debug
build
autom4te.cache
.idea
CMakeLists.txt
.deps